* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vh;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 50px 50px 0px 50px;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

td {
    border: 1px solid #000000;
    padding: 5px 10px;
    text-align: center;
    height: 8vh;
    width: 14.2%;
}

#searchYear {
    width: 100px;
}

.blank-space {
    width: 50%;
    background-color: white;
}

.right {
    width: 50%;
}

.right .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right .top button {
    width: 10vh;
    height: 5vh;
    border: none;
    font-size: 20px;
    color: white;
    background-color: rgb(166, 100, 227);
}

.right .top button:hover {
    background-color: red;
    cursor: pointer;
}

.calendartop {
    width: 100%;
    height: 106px;
    background-image: url(./calendartop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.calendar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    padding: 40px;
    border-radius: 20px;
}


.calendar h3 {
    font-size: 5vh;
    text-align: center;
    margin: 0vh 5vh;
}

#today {
    margin-bottom: 3vh;
    padding: 5px;
    border: 1px solid white;
    background: none;
    color: white;
}

#today:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.month {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
}

.premonthbutton {
    background-image: url(./button.png);
    background-size: cover;
    width: 50px;
    height: 50px;


}

.nextmonthbutton {
    background-image: url(./button.png);
    background-size: cover;
    width: 50px;
    height: 50px;

}

.premonthbutton:hover,
.nextmonthbutton:hover {
    background-image: url(./button-hover.png);
    cursor: pointer;
}


.calendar table {
    width: 100%;

    border-collapse: collapse;
    border: 3px solid #000000;
    background-color: rgb(255, 255, 255, 0.5);

}

.search {
    margin-top: 2vh;
}

.search .go {
    width: 6vh;
    border: 1px solid white;
    background-color: rgb(166, 100, 227);
    color: white;

}

.search .go:hover {
    background-color: red;
    cursor: pointer;
}

.footer {
    text-align: center;
    text-shadow: 1px 1px black;
    margin-top: 2vh;
    color: white;
    font-size: 20px;
}