*{
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    line-height: 22px;
}
main{
    min-height: 100vh;
}

input{
    color: black;
}

.container-fluid{
    background-color: rgb(50, 50, 50);
}

.nav-bg{
    background-color: #052659;
    font-weight: bold;
}
.nav-link{
    color: white !important;
}

.nav-item:hover{
    background-color: #295aa3;
}

.hr{
    border-top: 2px solid white;
}

.login-btn{
    color: white;
    background-color:#052659;
    border:1px solid #1f1f1f;
    border-radius: 8px;
    padding: 5px 15px;
}
.login-btn:hover{
    background-color:#295aa3 !important;
    color: #f8f8f8;
}


footer{
    height: 100px;
    background-color: #052659;
}